body {
    margin: 0;
}

header {
    background-color: #091057;
    display: flex;
    height: 100px;
    
}

.logoHeaderHome {
    width: 118px;
    height: 61px;
    position: absolute;
    left: 90px; /* Alinha a logo à esquerda com 146px de espaçamento */
    padding-top: 18px;
}

.icon {
    width: 34px;
    height: 34px;
    position: absolute;
    right: 170px;
    top: 70px;
}

.icon2 {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 60px;
    top: 67px;
}

.nav-links {
    display: flex; /* Organiza os links em linha */
    align-items: center;
    padding-left: 300px;
}

.nav-links a {
    font-family: "Inter", sans-serif;
    width: 286px;
    height: 36px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;

    line-height: 36px; /* Centraliza o texto verticalmente */
    background-color: transparent;
    letter-spacing: 1px;
    border-radius: 4px;
}

.nav-links a:hover{
    font-size: 15.4px;
}

.sub-header {
    width: 100%; /* Largura do sub cabeçalho */
    height: 38px; /* Altura do sub cabeçalho */
    background-color: #f1f1f1; /* Cor de fundo para destaque (pode ajustar conforme necessário) */
    display: flex; /* Usando flexbox para alinhar o texto */
    align-items: center; /* Alinha verticalmente */
    justify-content: flex-end; /* Alinha horizontalmente à direita */
    font-family: 'Inter', sans-serif; /* Define a fonte */
    font-size: 14px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #000; /* Cor do texto */
    position: relative; /* Ajusta a posição em relação ao cabeçalho principal */
    z-index: 2; /* Garante que fique acima de elementos principais, se necessário */
}
.sub-header p{
    padding-right: 61px; /* Espaçamento interno à direita */
}





